 body{
    margin: 0;
    padding: 0;
    font: poppins;
    box-sizing: border-box;
    width: 1500px;
    }
    
    #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
    .logo{
    width: 120px;
    height: 100px;
    }
    
    .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap:250px;
    position: fixed;
    }
    
    .buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-shrink: 0;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    width: 80px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #808000;
    color: yellow;
    cursor: pointer;
    }
    
    .sidebar{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: ghostwhite;
        backface-visibility:blur(20px);
        box-shadow: 10px 0 10px rgba(0,0,0,0.1);
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
    }
    
    nav li{
        height: 150px;
    }
    
    nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        align-items: center;
        color: black;
    }
     
     .about1{
    display: flex;
    width: 100%;
    height: 30vh;
    background-color:skyblue;
    background-image:url(https://github.com/SOUTH-X/Xtravel/blob/21df64ab7b9cd10d65bb8af73d08b0452f889fd2/photos/tt4.jpg?raw=true);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    }
    
    #pgn{
        font-size: 80px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }
    
    .about2{
        width: 100%;
        height: 50vh;
        display: flex;
    }
    
    .about2-con{
        display: flex;
        flex-direction: column;
        width: 750px;
        margin: 25px 30px;
    }
    
    .abth{
        font-size: 20px;
        color: seagreen;
        text-transform: uppercase;
    }
    
    .abth2{
        font-size: 40px;
        color: skyblue;
    }
    
    .abttx{
        font-size: 25px;
        color: black;
    }
    
    .abt-img-con1, .abt-img-con2{
        display: flex;
        flex-direction: row;
        gap:90px;
        margin-top: 15px;
        height: 200px;
    }
    
    .aics{
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .aics p{
        font-size: 25px;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
    
    .aiim{
        width: 30px;
        margin-top: -180px;
        object-position:center center;
        display: flex;
    }
    
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
    .abt-2img{
        width: 450px;
        height: 650px;
        background:url(https://github.com/SOUTH-X/Xtravel/blob/8ba24f3af64057b4285b07b671f3c9ec4181a4fe/photos/abt2a.jpg?raw=true);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: auto;
        animation: appear 20s infinite linear alternate;
    }
    
    @keyframes appear{
    from{
        transform: scale(0.5,0.5)
    }
    
    to{
        transform: scale(1,1);
        background: url('https://github.com/SOUTH-X/Xtravel/blob/8ba24f3af64057b4285b07b671f3c9ec4181a4fe/photos/abt2b.jpg?raw=true');
    }
}

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:35vh;
        background-color: skyblue;
        background:url(https://github.com/SOUTH-X/Xtravel/blob/21a4d8d030bdcf30622514cebff93fd77729ed25/photos/travel1.jpg?raw=true);
        background-repeat: no-repeat;
        background-size:cover;
        background-blend-mode:multiply;
        background-position:center center;
    }
    
    #a3h{
        font-size:65px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    .a3b{
        width: 120px;
    height: 50px;
    background-color: #808000;
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    margin-top:-150px;
    }
    
    .about4{
        width: 100%;
        height: 65vh;
    }
    
    .abt4-con{
        display:flex;
           flex-direction:row;
           gap:45px;
           height:250px;
           width:1200px;
           margin-left: auto;
           margin-right: auto;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4{
        display:flex;
        flex-direction:column;
        background-color:green;
        height:350px;
        width: 270px;
        margin: auto;
    }
    
    .a4t1{
        margin-left:auto;
    }
    .a4t4{
        margin-top: -2px;
        height: 170px;
        width: 200px;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4 img{
        width: 200px;
        margin-top: -180px;
        object-position:center center;
        display: flex;
    }
    
    #t1h, #t2h, #t3h, #t4h, #t5h, #t6h{
        text-align:center;
        margin: auto;
        font-size: 30px;
        color: orange;
    }
    
    #t5p, #t6p{
        font-size: 25px;
        line-height: 30px;
    }
    
    .a4t5, .a4t6{
        width: 700px;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
    
    .a4t6{
        margin: auto;
        margin-right:20px;
        margin-top:-700px;
    }
    
    .a4t5{
        margin-top: -5px;
    }
    
    .travel-words{
                 display:flex;
          flex-direction:row;
          background: url('/storage/emulated/0/DCIM/100PINT/Pins/dd643c95c29702bdd4195d0b826b8a77.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height:280px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    animation: zoom 10s infinite linear alternate;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 30px;
    }

@keyframes zoom {
    from{
        transform: translateX(-300%);
    }
    
    to{
        margin-right: -30px;
        gap:30px;
    }
}  

@media all and (max-width:2560px) {
      body{
          width:100%;
      }
      
      .about1{
          width: 100%;
      }
      
      .about2{
       width: 100%;
        height: 150vh;
        display: flex;
    }
    
    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    .about4{
        width: 100%;
        height: 1200px;
    }
   
  }
  
    @media all and (max-width:1440px) {
        body{
            width:100%;
        }
        
           .about1{
    width: 100%;
    }
    
    .header{
    width: 100%;
    }
    
    #pgn{
        font-size: 30px;
    }
   
    .about2{
        width: 100%;
        height: 150vh;
        display: flex;
    }
    
   
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
   

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    #a3h{
        font-size:45px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    
    .about4{
        width: 100%;
        height: 1200px;
        }
    

   
    .
    
    .travel-words{
          width: 100%;
}

    }
    
      @media all and (max-width:1024px) {
          body{
              width: 100%;
          }
         
          
          .
    
    .hamburger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 32px;
  margin-bottom: 20px;
  margin-left: 60px;
    }
    
    .hamburger .line {
  display: block;
  height: 2px;
  background: #333;
  border-radius: 1px;
  margin: 6px 0;
  transition: all 0.3s ease;
     }
     
     .about1{
    width: 100%;
    }
    
    .header{
    width: 100%;
    height: 100px;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    height: 30px;
    }
   
    .about2{
       width: 100%;
        height: 150vh;
        display: flex;
    }
    
   
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
   

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    #a3h{
        font-size:45px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    
    .about4{
        width: 100%;
        height: 1300px;
        }
    
   .abt4-con{
       width: 900px;
       gap:5px;
   }
   
    .a4t1, .a4t2, .a4t3, {
        height:220px;
        width: 150px;
    }
    
    .a4t1{
        margin-left:10px;
    }
    .a4t4{
        display: none;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4 img{
        width: 150px;
        margin-top: -180px;
        object-position:center center;
    }
    
     .a4t5, .a4t6{
        width: 400px;
        height: 550px;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
    }
        
    .a4t6{
        margin: auto;
        margin-right:20px;
        margin-top:-700px;
    }
    
    .a4t5{
        margin-top: 200px;
    }
    
    .travel-words{
          width: 100%;
}


      }
      
      
      
        @media all and (max-width:768px) {
            body{
                width: 100%;
            }
            
            .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    
   nav{
      position: absolute;
      top: 0;
      right: 0;
   }
     
     .about1{
    width: 100%;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .about2{
        width: 100%;
        height: 250vh;
        display: flex;
        flex-direction: column;
    }
    
    .about2-con{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 25px 30px;
        margin-left: 0px;
    }
    
    .abth{
        font-size: 20px;
        color: seagreen;
        text-transform: uppercase;
    }
    
    .abth2{
        font-size: 35px;
        color: skyblue;
        text-indent: 30px;
    }
    
    .abttx{
        font-size: 20px;
        color: black;
        line-indent:10px;
    }
    
    .abt-img-con1, .abt-img-con2{
        display: flex;
        flex-direction: row;
        gap:150px;
        margin-top: 15px;
        height: 200px;
        width: 100%;
    }
    
    .aics{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .aics p{
        font-size: 25px;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
    
    .aiim{
        width: 30px;
        margin-top: -180px;
        object-position:center center;
        display: flex;
    }
    
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
    .abt-2img{
        width: 450px;
        margin-left: -50px;
        }

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    #a3h{
        font-size:45px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    
    .about4{
        width: 100%;
        height: 1500px;
    }
    
    .abt4-con{
            display:flex;
           flex-direction:column;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4{
        display:none;        
    }
    
   
    
    #t5p, #t6p{
        font-size: 15px;
        line-height: 30px;
    }
    
    .a4t5, .a4t6{
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .a4t6{
        margin:-1350px auto;
    }
    
    .a4t5{
        margin: 600px auto;
    }
    
    .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 15px;
}
        }
        
        
        
        
          @media all and (max-width:435px) {
              body{
                  width: 100%;
              }
              
              .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    
    nav{
     position: absolute;
     top:15px;
     right:0;
    }
           .sidebar{
            position:fixed;
            right:0;
           }
     
     .about1{
    width: 100%;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .about2{
        width: 100%;
        height: 250vh;
        display: flex;
        flex-direction: column;
    }
    
    .about2-con{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 25px 30px;
        margin-left: 0px;
    }
    
    .abth{
        font-size: 20px;
        color: seagreen;
        text-transform: uppercase;
    }
    
    .abth2{
        font-size: 35px;
        color: skyblue;
        text-indent: 30px;
    }
    
    .abttx{
        font-size: 20px;
        color: black;
        line-indent:10px;
    }
    
    .abt-img-con1, .abt-img-con2{
        display: flex;
        flex-direction: row;
        gap:60px;
        margin-top: 15px;
        height: 200px;
        width: 100%;
    }
    
    .aics{
        width: 80px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .aics p{
        font-size: 25px;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
    
    .aiim{
        width: 30px;
        margin-top: -180px;
        object-position:center center;
        display: flex;
    }
    
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
    .abt-2img{
        width: 450px;
        margin-left: -50px;
        }

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    #a3h{
        font-size:45px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    
    .about4{
        width: 100%;
        height: 1500px;
    }
    
    .abt4-con{
            display:flex;
           flex-direction:column;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4{
        display:none;        
    }
    
   
    
    #t5p, #t6p{
        font-size: 15px;
        line-height: 30px;
    }
    
    .a4t5, .a4t6{
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .a4t6{
        margin:-1350px auto;
    }
    
    .a4t5{
        margin: 600px auto;
    }
    
    .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}
          }
          
          
          
          
            @media all and (max-width:375px) {
                body {
                    width: 100%;
                }
                
                .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    
    nav{
     position: absolute;
     top:0;
     right:0;
    }
             .sidebar{
              position:fixed;
              right:0;
             }
     
     .about1{
    width: 100%;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .about2{
        width: 100%;
        height: 250vh;
        display: flex;
        flex-direction: column;
    }
    
    .about2-con{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 25px 30px;
        margin-left: 0px;
    }
    
    .abth{
        font-size: 20px;
        color: seagreen;
        text-transform: uppercase;
    }
    
    .abth2{
        font-size: 35px;
        color: skyblue;
        text-indent: 30px;
    }
    
    .abttx{
        font-size: 20px;
        color: black;
        line-indent:10px;
    }
    
    .abt-img-con1, .abt-img-con2{
        display: flex;
        flex-direction: row;
        gap:60px;
        margin-top: 15px;
        height: 200px;
        width: 100%;
    }
    
    .aics{
        width: 80px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .aics p{
        font-size: 25px;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
    
    .aiim{
        width: 30px;
        margin-top: -180px;
        object-position:center center;
        display: flex;
    }
    
    #stb2{
        width: 120px;
    height: 50px;
    background-color: #808000;
    margin-bottom: -150px;    
    color: yellow;
    cursor: pointer;
    border-radius: 15px;
    }
    
    .abt-2img{
        width: 450px;
        margin-left: -50px;
        }

    .about3{
        display:flex;
        flex-direction:column;
        width:100%;
        height:95vh;
    }
    
    #a3h{
        font-size:45px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:auto;
    }
    
    
    .about4{
        width: 100%;
        height: 1500px;
    }
    
    .abt4-con{
            display:flex;
           flex-direction:column;
    }
    
    .a4t1, .a4t2, .a4t3, .a4t4{
        display:none;        
    }
    
   
    
    #t5p, #t6p{
        font-size: 15px;
        line-height: 30px;
    }
    
    .a4t5, .a4t6{
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .a4t6{
        margin:-1350px auto;
    }
    
    .a4t5{
        margin: 600px auto;
    }
    
    .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

            }
