body{
    margin: 0;
    padding: 0;
    font: poppins;
    box-sizing: border-box;
    width: 1500px;
    }
    
    #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
    .logo{
    width: 120px;
    height: 100px;
    }
    
    .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap:250px;
    position: fixed;
    }
    
    .buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-shrink: 0;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    width: 80px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #808000;
    color: yellow;
    cursor: pointer;
    }
    
   .sidebar{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: ghostwhite;
        backface-visibility:blur(20px);
        box-shadow: 10px 0 10px rgba(0,0,0,0.1);
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
    }
    
    nav li{
        height: 150px;
    }
    
    nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        align-items: center;
        color: black;
    }
     
     .blog1{
    display: flex;
    width: 100%;
    height: 30vh;
    background-color:skyblue;
    background-image:url(https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/f547b12a2f25d48f48a85931bf08f3c1.jpg?raw=true);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    }
    
    #pgn{
        font-size: 80px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }
    
    .blog2{
        width: 100%;
        height: 60vh;
        justify-content: center;
        align-items: center;
    }
    
    .blog2 h{
        text-transform: uppercase;
        font-size:45px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
        display: flex;
    }
    
    .blog4{
        width: 100%;
        height: 75vh;
        background:url(https://github.com/SOUTH-X/Xtravel/blob/1ec235b069d6f21861fa5093cc0cdc1ce3e5e47c/photos/308c3aec689ae50055e3b3b4016363be.jpg?raw=true);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        position:relative;
        animation:change 10s infinite linear alternate;
    }
    
    @keyframes change{
        25%{
            background: url(https://github.com/SOUTH-X/Xtravel/blob/1ec235b069d6f21861fa5093cc0cdc1ce3e5e47c/photos/1bf948fe1080d5a4a523e11b938efd84.jpg?raw=true);
            background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        position:relative;
        }
        50%{
            background: url(https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/8aa8b607b03f7198dbffba7fe282ffa0.jpg?raw=true);
            background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        position:relative;
        }
        75%{
            background: url(https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/d20d6345c689c7a73ff9019902985bbc.jpg?raw=true);
            background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        position:relative;
        }
        100%{
            background: url(https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/8aa8b607b03f7198dbffba7fe282ffa0.jpg?raw=true);
            background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        position:relative;
        }
    }
    
    .st4a{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap:65px;
        width: 1400px;
        height: 500px;
    }
    
    .st4a div{
        width: 200px;
        height: 400px;
        background-color: blue;
        display: flex;
        margin: auto;
        animation:scale 5s infinite alternate;
    }
    
    @keyframes scale{
        0%{
            transform:scale(-1, -1)
        }
        25%{
            transform:scale(0.5, 0.5)
        }
        50%{
            transform:scale(1,1)
        }
        75%{
            transform:scale(1.5, 1.5)
        }
        100%{
            transform:scale(2, 2)
        }
    }
    
    .st4a h{
        font-size:200px;
        font-weight:bold;
        color:white;
        text-transform: uppercase;
        margin:auto;
    }
     
      .travel-words{
                 display:flex;
          flex-direction:row;
          background: url('https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/37bd4dbacb041da589c9eb2416d85f2c.jpg?raw=true');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height:280px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    animation: zoom 10s infinite linear alternate;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 30px;
    }

@keyframes zoom {
    from{
        transform: translateX(-300%);
    }
    
    to{
        margin-right: -30px;
        gap:30px;
    }
}  

@media all and (max-width:2560px) {
      body{
          width:100%;
      }
      
       #pgn{
        margin-top: 80px;
    }
    
    .blog4{
        width: 100%;
        height: 150vh;
    }
  }
  
  
  
    @media all and (max-width:1440px) {
        body{
            width:100%;
        }
        
          #pgn{
        margin-top: 80px;
    }
    
    .blog4{
        width: 100%;
        height: 150vh;
    }
    
    }
    
    
    
      @media all and (max-width:1024px) {
          body{
              width: 100%;
          }
          
          
    #pgn{
        margin-top: 80px;
    }
    
     .blog4{
        width: 100%;
        height: 150vh;
    }
    
    .st4a{
        gap:35px;
        width: 350px;
        height: 500px;
        margin-left: -230px;
    }
    
      }
      
      
      
        @media all and (min-width:500px) and (max-width:768px) {
            body{
                width: 100%;
            }
            
               .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display:none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    
    nav{
       position: absolute;
       top: 0;
       right: 0;
    }
            .sidebar{
        position:fixed;
        top:0;
        right:0;
            }
    
     .blog1{
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .blog2{
        width: 100%;
        height: 90vh;
    }
    
    .blog2 h{
        font-size:45px;
    }
    
    .blog4{
        width: 100%;
        height: 75vh;
    }
    
    .st4a{
        gap:25px;
        width: 350px;
        height: 500px;
        margin: 30px auto;
    }
    
    .st4a div{
        width: 100px;
        height: 200px;
    }
    
   
    
    .st4a h{
        font-size:80px;
    }
     
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 10px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 20px;
    }
        }
        
        
        
        
          @media all and (min-width:375px) and (max-width:435.5px) {
              body{
                  width: 100%;
              }
              
               .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display:none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    .sidebar{
        position:fixed;
        top:0;
        right:0;
    }
    
     .blog1{
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .blog2{
        width: 100%;
        height: 90vh;
    }
    
    .blog2 h{
        font-size:45px;
    }
    
    .blog4{
        width: 100%;
        height: 75vh;
        justify-content: center;
        align-items: center;
    }
    
    .st4a{
        gap:25px;
        margin:20px auto;
        padding: auto;
    }
    
    .st4a div{
        width: 50px;
        height: 50px;
    }
    
   
    
    .st4a h{
        font-size:40px;
    }
     
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 20px;
    }
          }
          
          
          
          
            @media all and (min-width:320px) and (max-width:375px) {
                body {
                    width: 100%;
                }
                
                 .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap:250px;
    position: fixed;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display: none;
    }
    
    nav{
       position: absolute;
       top: 0;
       right: 0;
    }
                .sidebar{
        position:fixed;
        top:0;
        right:0;
                }
     
     .blog1{
    display: flex;
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 50px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }
    
    .blog2{
        width: 100%;
        height: 90vh;
    }
    
    .blog2 h{
        text-transform: uppercase;
        font-size:45px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
        display: flex;
    }
    
    .blog4{
        width: 100%;
        height: 85vh;
    }
    
  
    
    .st4a{
        gap:25px;
        width: 200px;
        height: 500px;
        margin-left: -50px;
    }
    
    .st4a div{
        width: 100px;
        height: 200px;
    }
    
    
    
    .st4a h{
        font-size:50px;
        font-weight:bold;
        color:white;
        text-transform: uppercase;
        margin:auto;
    }
     
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    font-size: 15px;
    }
            }
