*{
    margin: 0;
    padding: 0;
    font: poppins;
    box-sizing: border-box;
}

body{
    width: 1500px;
    overflow-x: hidden;
    }
    
    #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
    .logo{
    width: 120px;
    height: 100px;
    }
    
    .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    gap:250px;
    position: fixed;
    }
    
    .buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-shrink: 0;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    width: 80px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #808000;
    color: yellow;
    cursor: pointer;
    }
    
    .sidebar{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: ghostwhite;
        backface-visibility:blur(20px);
        box-shadow: 10px 0 10px rgba(0,0,0,0.1);
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
    }
    
    nav li{
        height: 150px;
    }
    
    nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        align-items: center;
        color: black;
    }
    
     .explore1{
    display: flex;
    width: 100%;
    height: 30vh;
    background-color:skyblue;
    background-image:url(https://github.com/SOUTH-X/Xtravel/blob/1ec235b069d6f21861fa5093cc0cdc1ce3e5e47c/photos/1bf948fe1080d5a4a523e11b938efd84.jpg?raw=true);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    }
    
    #pgn{
        font-size: 80px;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }
    
    .explore2{
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        gap: 280px;
    }
    
    .ex2-con1, .ex2-con2, .ex2-con3, .ex2-con4{
        display:flex;
           flex-direction:row;
           gap:45px;
           height:250px;
           width:1200px;
           margin-left: auto;
           margin-right: auto;
           animation: appear linear alternate;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: scale(1,1);
    }
    
    50%{
        opacity: 0.5;
        transform: scale(1.5,1.5);
    }
    
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}
    
    
      .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8{
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 550px;
        background:repeating-conic-gradient(darkblue, white);
        margin-top: 70px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px 5px;
    }
    
    #t1i, #t2i, #t3i, #t4i, #t5i, #t6i, #t7i, #t8i{
        height: 300px;
        width: 250px;
        margin-top: -40px;
        margin: auto;
    }
    
    .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8, h{
        font-size: 25px;
        font-weight: bold;
        color: blue;
    }
    
    .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8  , p{
        font-size: 15px;
        color: black;
        
    }
    
    
      .travel-words{
                 display:flex;
          flex-direction:row;
          background: url('https://github.com/SOUTH-X/Xtravel/blob/313153d97fe3a7d5465553b51193fdfab6cd56ee/photos/37bd4dbacb041da589c9eb2416d85f2c.jpg?raw=true');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height:280px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    animation: zoom 10s infinite linear alternate;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 30px;
    }

@keyframes zoom {
    from{
        transform: translateX(-300%);
    }
    
    to{
        margin-right: -30px;
        gap:30px;
    }
}  

@media all and (max-width:2560px) {
      body{
          width:100%;
      }
      
      .explore2{
        width: 100%;
        height: 450vh;
  }
  
    @media all and (max-width:1440px) {
        body{
            width:100%;
        }
        
        .explore2{
        width: 100%;
        height: 450vh;
    }
    }
    
      @media all and (max-width:1024px) {
          body{
              width: 100%;
          }
          
          #pgn{
              margin-top: 80px;
          }
          
          .ex2-con1, .ex2-con2, .ex2-con3, .ex2-con4{
           gap:125px;
           height:250px;
           width:500px;
           margin-left: 20px;
           margin-right: auto;
    }
    
    
    
      .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8{
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 250px;
    }
    
    .st4, .st8{
        display: none;
    }
          
          }
      
        @media all and (min-width:500px) and (max-width:768px) {
            body{
                width: 100%;
                overflow-x:hidden;
            }
            #preloader{
    width: 100%;
    height: 100%;
            }
                         
     .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display:none;
    }
    
    .sidebar{
        position:fixed;
        top:0;
        right:0;
    }
     
     .explore1{
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .explore2{
        width: 100%;
        height: 9000px;
        display: flex;
        flex-direction: column;
        gap: 2000px;
    }
    
      .ex2-con1, .ex2-con2, .ex2-con3, .ex2-con4{
        display:flex;
           flex-direction:column;
           gap:45px;
           height:250px;
           width:150px;
           margin-left: auto;
           margin-right: auto;
    }
    
    
    
      .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8{
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 250px;
    }
    
    #t1i, #t2i, #t3i, #t4i, #t5i, #t6i, #t7i, #t8i{
        height: 300px;
        width: 250px;
        margin-top: -40px;
        margin: auto;
    }
    
    
    
    
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 20px;
    }
            }
    
        }
        
        
        
        
          @media all and (min-width:375px) and (max-width:435.5px) {
              body{
                  width: 100%;
                  overflow-x:hidden;
              }
              #preloader{
    width: 100%;
    height: 100%;
              }
                           
     .logo{
    width: 50px;
    height: 50px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display:none;
    }
    
    .sidebar{
        position:fixed;
        top:0;
        right:0;
    }
              
     .explore1{
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 50px;
    }
    
    .explore2{
        width: 100%;
        height: 9000px;
        display: flex;
        flex-direction: column;
        gap: 2900px;
    }
    
      .ex2-con1, .ex2-con2, .ex2-con3, .ex2-con4{
        display:flex;
           flex-direction:column;
           gap:45px;
           height:250px;
           width:150px;
           margin-left: 80px;
           margin-right: 50px;
    }
    
    
    
      .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8{
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 250px;
    }
    
    #t1i, #t2i, #t3i, #t4i, #t5i, #t6i, #t7i, #t8i{
        height: 300px;
        width: 250px;
        margin-top: -40px;
        margin: auto;
    }
    
    
    
    
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 20px;
    }
            }
    
          }
          
          
          
          
            @media all and (min-width:320px) and (max-width:375px) {
                body {
                    width: 100%;
                    overflow-x:hidden;
                }
                #preloader{
    width: 100%;
    height: 100%;
                }
     .logo{
    width: 30px;
    height: 30px;
    }
    
    .header{
    width: 100%;
    height: 80px;
    }
    
    .buttons{
    display: none;
    }
    
    #abtb, #stb, #blb, #cob, #exb{
    display:none;
    }
    
    nav{
       position: absolute;
       top: 0;
       right: 0;
    }
                .sidebar{
        position:fixed;
        top:0;
        right:0;
                }
   
     .explore1{
    width: 100%;
    height: 30vh;
    }
    
    #pgn{
        font-size: 30px;
    }
    
    .explore2{
        width: 100%;
        height: 9000px;
        display: flex;
        flex-direction: column;
        gap: 2900px;
    }
    
      .ex2-con1, .ex2-con2, .ex2-con3, .ex2-con4{
        display:flex;
           flex-direction:column;
           gap:45px;
           height:250px;
           width:150px;
           margin-left: 50px;
           margin-right: 50px;
    }
    
    
    
      .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8{
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 250px;
    }
    
    #t1i, #t2i, #t3i, #t4i, #t5i, #t6i, #t7i, #t8i{
        height: 300px;
        width: 250px;
        margin-top: -40px;
        margin: auto;
    }
    
    
    
    
      .travel-words{
          width: 100%;
          height:100px;
}

#tw1, #tw2, #tw3, #tw4, #tw5, #tw6, #tw7, #tw8, #tw9, #tw10, #tw11{
    font-size: 5px;
}

.last-div{
    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: #E5D8B7;
    margin-top: 30px;
}

.lad{
    color:blueviolet;
    margin: auto;
    font-size: 20px;
    }
            }
    
